# ignore the following files

# Dalvik VM files
*.dex

# Java class files
*.class

# no binary files except for .apk
bin/
!bin/*.apk
gen/

# jni includes user-defined environments for linking C programs
jni/*

# obj contains binary files from C programs
obj/*
*.o
*.so
*.o.d

# user-defined project properties
project.properties

# backup files
*~